<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="8" offset="2" class="ion-margin-bottom"
        ><h1 style="border: 2px white solid; text-align: center; padding: 1rem">
          Atigabook.
        </h1></ion-col
      >
      <ion-col size="12" class="ion-margin-vertical"
        ><ion-item>
          <ion-label position="floating">Name</ion-label>
          <ion-input type="text" [(ngModel)]="name"></ion-input> </ion-item
        ><ion-item>
          <ion-label position="floating">Username</ion-label>
          <ion-input type="text" [(ngModel)]="username"></ion-input> </ion-item
        ><ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input
            type="password"
            [(ngModel)]="password"
          ></ion-input> </ion-item
        ><ion-item>
          <ion-label position="floating">Confirm Password</ion-label>
          <ion-input
            type="password"
            [(ngModel)]="confirm_password"
          ></ion-input> </ion-item
      ></ion-col>
      <ion-col size="12" class="ion-margin-top">
        <ion-button
          fill="outline"
          shape="round"
          expand="block"
          color="dark"
          (click)="register()"
          size="large"
          >Register</ion-button
        >
      </ion-col>
      <ion-col size="12">
        <p style="text-align: center">Already Have Account?</p>
        <ion-button
          shape="round"
          expand="block"
          color="dark"
          (click)="loginPage()"
          size="large"
          >Log In
        </ion-button>
      </ion-col>
      <ion-col size="12">
        <h3 style="margin-top: 2rem; text-align: center">Powered by Atiga</h3>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
