<ion-header *ngIf="!token">
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
  <ion-grid *ngIf="!token">
    <ion-row>
      <ion-col size="8" offset="2" class="ion-margin-vertical">
        <h1 style="border: 2px white solid; text-align: center; padding: 1rem">
          Atigabook.
        </h1>
      </ion-col>
      <ion-col size="12" class="ion-margin-top">
        <ion-item>
          <ion-label position="floating">Username</ion-label>
          <ion-input name="username" type="username" [(ngModel)]="username">
          </ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12" class="ion-margin-bottom">
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input name="password" type="password" [(ngModel)]="password">
          </ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12" class="ion-margin-top">
        <ion-button
          type="submit"
          shape="round"
          fill="outline"
          expand="block"
          color="dark"
          (click)="login()"
          size="large"
          >Login</ion-button
        >
      </ion-col>
      <ion-col size="12">
        <ion-chip *ngIf="login_error">{{login_error}}</ion-chip>
      </ion-col>
      <ion-col size="12">
        <ion-button
          shape="round"
          expand="block"
          color="dark"
          (click)="registerPage()"
          size="large"
          >Register
        </ion-button>
      </ion-col>
      <ion-col size="12">
        <h5 style="margin-top: 11.5rem; text-align: center">
          Powered by Atiga
        </h5>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-tabs *ngIf="token">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person-circle-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
